<ion-header>
    <ion-navbar core-back-button>
        <ion-title><core-format-text [text]="siteName" contextLevel="system" [contextInstanceId]="0"></core-format-text></ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <a ion-item core-user-link [userId]="siteInfo.userid" text-wrap>
            <ion-avatar core-user-avatar [user]="siteInfo" item-start></ion-avatar>
            <h2>{{siteInfo.fullname}}</h2>
            <ion-note class="core-note-block"><core-format-text [text]="siteName" contextLevel="system" [contextInstanceId]="0" [wsNotFiltered]="true"></core-format-text></ion-note>
            <ion-note class="core-note-block">{{ siteUrl }}</ion-note>
        </a>
        <ion-item-divider></ion-item-divider>
        <ion-item text-center *ngIf="(!handlers || !handlers.length) && !handlersLoaded">
            <ion-spinner></ion-spinner>
        </ion-item>

        <div *ngIf="showCategories" class="menu-category-item-group">
            <div *ngFor="let sm of sidemenus">
                <div class="menu-category-item-group" *ngIf="sm.visible">
                    <a class="menu-category-item" style="border-width: 0px; padding-left: 15px; " *ngIf="!sm.parent" (click)="onSelCategory(sm.id)">
                        <!--                <a ion-item style="border-width: 0px; padding-left: 15px;" *ngIf="!sm.parent">-->
                        {{sm.label}}
                        <!--                <span class="badge badge-positive">1</span>-->
                        <!--                <ion-spinner ng-if="loading" class="icon"></ion-spinner>-->
                        <!--                    <img src="assets/img/down.png" style="position:absolute; right: 15px;"/>-->
                        <img src="assets/img/down.png" style="position:absolute; right: 15px;" *ngIf="sm.hasChildren" [hidden]="sm.expanded" (click)="onCollapseCategory(sm.id); $event.stopPropagation();"/>
                        <img src="assets/img/up.png" style="position:absolute; right: 15px;" *ngIf="sm.hasChildren" [hidden]="!sm.expanded" (click)="onCollapseCategory(sm.id); $event.stopPropagation();"/>
                    </a>
                    <a menuClose class="menu-category-item item item-icon-left" style="border-width: 0px; padding-left: 30px;" *ngIf="sm.parent" [hidden]="!sm.visible" (click)="onSelCategory(sm.id)">
                        {{sm.label}}
                        <!--                <span [hidden]="loading || badge" class="badge badge-positive">1</span>-->
                        <!--                <ion-spinner *ngIf="loading" class="icon"></ion-spinner>-->
                    </a>
                </div>
                <div *ngIf="!sm.visible">
                    <a class="menu-category-item" style="border-width: 0px; padding-left: 15px; " *ngIf="!sm.parent" (click)="onSelCategory(sm.id)">
                        <!--                <a ion-item style="border-width: 0px; padding-left: 15px;" *ngIf="!sm.parent">-->
                        {{sm.label}}
                        <!--                <span class="badge badge-positive">1</span>-->
                        <!--                <ion-spinner ng-if="loading" class="icon"></ion-spinner>-->
                        <!--                    <img src="assets/img/down.png" style="position:absolute; right: 15px;"/>-->
                        <img src="assets/img/down.png" style="position:absolute; right: 15px;" *ngIf="sm.hasChildren" [hidden]="sm.expanded" (click)="onCollapseCategory(sm.id); $event.stopPropagation();"/>
                        <img src="assets/img/up.png" style="position:absolute; right: 15px;" *ngIf="sm.hasChildren" [hidden]="!sm.expanded" (click)="onCollapseCategory(sm.id); $event.stopPropagation();"/>
                    </a>
                    <a menuClose class="menu-category-item item item-icon-left" style="border-width: 0px; padding-left: 30px; padding-top: 7px; padding-bottom: 7px;" *ngIf="sm.parent" [hidden]="!sm.visible" (click)="onSelCategory(sm.id)">
                        {{sm.label}}
                        <!--                <span [hidden]="loading || badge" class="badge badge-positive">1</span>-->
                        <!--                <ion-spinner *ngIf="loading" class="icon"></ion-spinner>-->
                    </a>
                </div>
            </div>
        </div>

        <a *ngIf="showRoadMap" ion-item (click)="openRoadMap()" title="{{ 'mm.ralph.sidemenu.roadmap' | translate }}">
            <core-icon name="fa-map-marker" item-start></core-icon>
            <h2>{{ 'mm.ralph.sidemenu.roadmap' | translate }}</h2>
        </a>

        <a *ngIf="showCoupons" ion-item (click)="openCoupons()" title="{{ 'mm.ralph.sidemenu.coupons' | translate }}">
            <core-icon name="fa-trophy" item-start></core-icon>
            <h2>{{ 'mm.ralph.sidemenu.coupons' | translate }}</h2>
        </a>

        <a *ngIf="showFavorites" ion-item (click)="onSelFavorites()" title="{{ 'mm.ralph.sidemenu.favorites' | translate }}">
            <core-icon name="fa-star" item-start></core-icon>
            <h2>{{ 'mm.ralph.sidemenu.favorites' | translate }}</h2>
        </a>
        <a ion-item *ngFor="let handler of handlers" [ngClass]="['core-moremenu-handler', handler.class || '']" (click)="openHandler(handler)" title="{{ handler.title | translate }}" detail-push>
            <core-icon [name]="handler.icon" item-start></core-icon>
            <h2>{{ handler.title | translate}}</h2>
            <ion-badge item-end *ngIf="handler.showBadge" [hidden]="handler.loading || !handler.badge">{{handler.badge}}</ion-badge>
            <ion-spinner item-end *ngIf="handler.showBadge && handler.loading"></ion-spinner>
        </a>
        <div *ngFor="let item of customItems" class="core-moremenu-customitem">
            <a ion-item *ngIf="item.type != 'embedded'" [href]="item.url" core-link [capture]="item.type == 'app'" [inApp]="item.type == 'inappbrowser'" title="{{item.label}}">
                <core-icon [name]="item.icon" item-start></core-icon>
                <h2>{{item.label}}</h2>
            </a>
            <a ion-item *ngIf="item.type == 'embedded'" (click)="openItem(item)" title="{{item.label}}">
                <core-icon [name]="item.icon" item-start></core-icon>
                <h2>{{item.label}}</h2>
            </a>
        </div>
        <a ion-item *ngIf="showScanQR" (click)="scanQR()">
            <core-icon name="fa-qrcode" item-start aria-hidden="true"></core-icon>
            <h2>{{ 'core.scanqr' | translate }}</h2>
        </a>
        <a *ngIf="showWeb" ion-item [href]="siteInfo.siteurl" core-link autoLogin="yes" title="{{ 'core.mainmenu.website' | translate }}">
            <ion-icon name="globe" item-start aria-hidden="true"></ion-icon>
            <h2>{{ 'core.mainmenu.website' | translate }}</h2>
        </a>
        <a *ngIf="showHelp" ion-item [href]="docsUrl" core-link autoLogin="no" title="{{ 'core.mainmenu.help' | translate }}">
            <ion-icon name="help-buoy" item-start aria-hidden="true"></ion-icon>
            <h2>{{ 'core.mainmenu.help' | translate }}</h2>
        </a>
        <a ion-item *ngIf="showPreference"  (click)="openSitePreferences()" title="{{ 'core.settings.preferences' | translate }}">
            <core-icon name="fa-wrench" item-start></core-icon>
            <h2>{{ 'core.settings.preferences' | translate }}</h2>
        </a>
                <a ion-item (click)="logout()" title="{{ logoutLabel | translate }}">
            <ion-icon name="log-out" item-start aria-hidden="true"></ion-icon>
            <h2>{{ logoutLabel | translate }}</h2>
        </a>
        <ion-item-divider></ion-item-divider>
        <a *ngIf="showAppSettings"  ion-item (click)="openAppSettings()" title="{{ 'core.settings.appsettings' | translate }}">
            <core-icon name="fa-cogs" item-start></core-icon>
            <h2>{{ 'core.settings.appsettings' | translate }}</h2>
        </a>

    </ion-list>
</ion-content>
